@charset "utf-8";
/* movie.css */

.movie_List{
  display:flex;
  flex-wrap:wrap;
  width:100%;
}
.movie_List li{
  width:25%;
  background:#fff;
  padding:20px;
  box-shadow:0px 0px 10px #ccc;
  margin-right:30px;
  margin-bottom:30px;
  padding-top:20px;
  position:relative;
}
  
  @media screen and (max-width:1617px) {
    .movie_List li{width:35%;}
  }
  @media screen and (max-width:1024px) {
    .movie_List li{width:74%;}
  }
  @media screen and (max-width:880px) {
    .movie_List li{
      width:74%;
      padding:0px 2%;
      margin-bottom:50px;
      box-sizing: border-box;
    }
  } 
  @media screen and (max-width:720px) {
    .movie_List li{width:68%;}
  }

.movie_List h3{padding-top:10px;}
.movie_List img{
  float:left;
  max-width:150px;
  width:100%;
  position:relative;
  top:-30px;
  margin-right:30px;
  box-shadow:0px 20px 20px -12px #8f8f8f;
  transition:0.3s;
  perspective:200px;
}
.movie_List img:hover{
  transform:perspective(300px) rotateX(30deg);
}
.movie_title{
  font-size:16px;
  margin-bottom:5px;
  color: #2c2c2c;
  font-weight:bold;
}

/* 장르 서식 */
.movie_genres{
  display:flex;
  flex-wrap:wrap;
  margin:5px 0px;
}
.movie_genres_txt{
  margin-right:10px;
  font-size:14px;
}

/* year서식 */
.movie_year{
  margin-right:10px;
  font-size:14px;
  color:#0099ff;
}

/* rating서식 */
.rating{
  color:#f00;
  position:absolute;
  right:10px;bottom:20px;
}

.movie_detail{
  padding-left:300px;
}
.movie_detail h3{
  padding:70px 0px 20px 50px;
}
.movie_detail img{
  width:300px;
  float:left;
  padding-right:20px;
}